<ion-view title="Contact">
  <ion-content>
    <div class="list">
      <a class="item" href="https://twitter.com/adamdbradley" target="_blank">
        @adamdbradley
      </a>
      <a class="item" href="https://twitter.com/ionicframework" target="_blank">
        @ionicframework
      </a>
      <a class="item" href="https://twitter.com/ionitron" target="_blank">
        @ionitron
      </a>
      <a class="item" href="https://twitter.com/driftyco" target="_blank">
        @driftyco
      </a>
    </div>
  </ion-content>
</ion-view>
