# {{ ansible_managed }}

# Upstream configuration for fastCGI.

# This configuration assumes by default that keepalive
# upstream connections are supported and that you have a Nginx
# version with the fair load balancer.

{% for upstream in nginx_fastcgi_upstreams %}
upstream {{ upstream.name }} {
    fair;
    keepalive {{ upstream.keepalive }};
{% for server in upstream.servers %}
    server {{ server }};
{% endfor %}
}

{% endfor %}
