@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,greek-ext,greek);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,greek-ext,greek);

body{
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo_img{
  text-align: center;
  padding: 60px 10px;
}

.community{
  background: url('../images/foto_01.jpg');
  padding-bottom: 120px;
}

.community h2{
  font-size: 93px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border-bottom:0;
  text-align: center;
  padding: 120px 10px;  
}

.highlight{
  background: rgba(56,136,147,0.8);
  padding: 40px;
  margin-top: 80px;
}

.highlight p{
  font-family: "Open Sans";
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  line-height: 1.5em;
  text-align: center;
}

.event{
  background: #df7900;
}

.event a:hover, .event a:focus{
  text-decoration: none;
}

.odd{
  background: #e69536;
}

.meet .event_title{
  background: #e69536 url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: center right;
  width: 87%;
  padding: 40px 20px 10px 15px;
}

.clear{
  clear:both;
}

.event .col-md-3{
  min-height: 360px;
}

.event .col-md-3 h3{
  font-weight: bold;
  color: #fff;
  font-size: 61px;
  line-height: 0.8em;
  text-align: center;
}

.event_title h4{
  font-weight: bold;
  text-transform: uppercase;
  color: #fefefe;
  font-size: 42px;
  line-height: 0.8em;
}

.event_title h4 span{
  font-size: 30px!important;
}

body .event_title h5{
  font-weight: 100;
  font-family: "Open Sans";
  font-size: 21px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.place h6{
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.event .center{
  text-align: center;
  padding-top:30px;
  margin-bottom: 45px;
}

.place .center{
  margin-bottom: 90px;
}

.time .center {
    margin-bottom: 100px;
}

.time h6{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

.date{
  text-align: center;
  padding: 20px 10px;
}

.date h4{
  font-size: 86px;
  text-transform: uppercase;
  color: #fff;
}

body .date h4 span{
  font-family: "Open Sans";
  font-weight: 100;
  font-size: 86px!important;
}

.event .col-md-3 span{
  font-size: 47px;
}

div.screens div.col-md-4 {
  padding: 0;
}

div.screens div.col-md-4 img{
  width: 100%;
}

.footer{
  background: #e9e9e9;
  border-top: 0;
  padding: 0 10px 20px;
}

.left-footer{
  float: left;
}

body .footer h3{
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: #404040;
}

.right-footer{
  float: right;
}

.email{
  margin-top: 50px;
}

.social_icons{
  margin-top: 30px;
}

.social_icons img{
  margin-right: 10px;
}

.email a{
  text-decoration: none;
  font-size: 22px;
  color: #4b4b4b;
}

.past-event{
  padding: 30px 0px; 
  color: white; 
}

.past-social{
  padding-top: 40px;
}

.past-event-name a{
  font-weight: 100;
  font-size: 44px;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.past-event-date h4{
  font-size: 50px;
}

.past-event-place a{
  font-size: 34px;
  text-decoration: none;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.past-event .col-md-3{
  text-align: center;
}

.past-event.odd{
  background: #555555;
}

.past-event.even{
  background: #707070;
}

@media (max-width: 520px){
  .logo_img img{
    width: 100%;
  }

  .community h2{
    font-size: 60px;
  }
}

@media (max-width: 991px){
  .container {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
  }

  .meet h3{
    margin-top: 0;
    padding-top: 50px;
  }
}